.todoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input {
    padding: 1rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
    width: 50rem;
    border: none;
    border-bottom: 2px solid $blue;
    color: gray;
    font-size: 14px;
    outline: none;
    &:focus {
      border-bottom: 2px solid $pink;
    }
    &.showCategories {
      border-bottom: 2px solid $pink;
    }
  }
  .focusedForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .submitBtn {
    margin: 1.5rem;
    width: 10rem;
    padding: 0.75rem;
    border-radius: 120px;
    background-color: $navy;
    border: none;
    font-family: $capsFont;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
      background-color: $pink;
    }
  }
  .categoryInput {
    caret-color: transparent;
  }
  .categoryContainer {
    // position: relative;
    .allCategories {
      // position: absolute;
      z-index: 10;
      .categoryOption {
        cursor: pointer;
        width: 50rem;
        border-left: 1px solid $pink;
        border-right: 1px solid $pink;
        border-bottom: 1px solid $pink;
        margin: 0px;
        padding: 1rem;
        background-color: white;
        z-index: 100000;
        color: gray;
        font-size: 12px;
      }
    }

  }
}