.todoItem {
  .fa {
    cursor: pointer;
    font-size: 30px;
  }
  .subTaskContents {
    margin-top: 1rem;
    .subtask {
      display: flex;
      align-items: center;
      padding: 0.25rem;
      p {
        margin: 0px;
      }
      .fa {
        cursor: pointer;
        color: black;
        font-size: 20px;
        margin-right: 0.5rem;
        padding: 0px;
        &:hover {
          color: $yellow;
        }
      }
    }
    .addSubtask {
      margin-top: 1rem;
      .fa-plus {
        cursor: pointer;
        font-size: 20px;
        &:hover {
          color: $yellow;
        }
      }
    }
    .subtaskInput {
      margin-top: 1rem;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 2px solid white;
      caret-color: white;
      color: white;
      font-size: 16px;
      text-align: center;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
  &:hover {
    .subTaskContents .subtask .fa{
      color: white;
    }
  }
}