.todoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .todoItem {
    border: 3px solid $navy;
    padding: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    margin: 1rem;
    .title {
      text-transform: uppercase;
      font-family: $capsFont;
      padding-bottom: 0.5rem;
      position: relative;
      border-bottom: 2px solid $yellow;
    }
    .description {
      font-style: italic;
      font-size: 12px;
    }
    .todoBtn {
      background-color: transparent;
      margin: 2px;
      padding: 3px;
      border: none;
      .fa {
        color: white;
        font-size: 30px;
        &:hover {
          color: $yellow;
        }
      }
    }
    &:hover {
      background-color: $navy;
      color: white;
      .hoveredContent {
        visibility: visible;
      }
    }
    .hoveredContent {
      visibility: hidden;
    }
    &.pending {
      border: 3px solid $pink;
      &:hover {
        background-color: $pink;
      }
    }
  }

}