@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Josefin+Sans");
.homePage .homeContents {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-left: 20%; }

.homePage .headerTitle {
  font-family: "Josefin Sans";
  font-size: 25px;
  color: #343E53; }

.todoForm {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .todoForm .input {
    padding: 1rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
    width: 50rem;
    border: none;
    border-bottom: 2px solid #97B4C6;
    color: gray;
    font-size: 14px;
    outline: none; }
    .todoForm .input:focus {
      border-bottom: 2px solid #D96A61; }
    .todoForm .input.showCategories {
      border-bottom: 2px solid #D96A61; }
  .todoForm .focusedForm {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .todoForm .submitBtn {
    margin: 1.5rem;
    width: 10rem;
    padding: 0.75rem;
    border-radius: 120px;
    background-color: #343E53;
    border: none;
    font-family: "Josefin Sans";
    color: white;
    font-size: 12px;
    text-transform: uppercase; }
    .todoForm .submitBtn:hover {
      background-color: #D96A61; }
  .todoForm .categoryInput {
    caret-color: transparent; }
  .todoForm .categoryContainer .allCategories {
    z-index: 10; }
    .todoForm .categoryContainer .allCategories .categoryOption {
      cursor: pointer;
      width: 50rem;
      border-left: 1px solid #D96A61;
      border-right: 1px solid #D96A61;
      border-bottom: 1px solid #D96A61;
      margin: 0px;
      padding: 1rem;
      background-color: white;
      z-index: 100000;
      color: gray;
      font-size: 12px; }

.sideBar {
  margin: 0;
  width: 20%;
  position: fixed;
  height: 100vh;
  background-color: #97B4C6;
  padding-left: 1rem;
  padding-top: 6rem;
  font-size: 14px;
  font-family: "Josefin Sans";
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sideBar .category, .sideBar .allTasks, .sideBar .newCategoryBtn {
    text-transform: uppercase;
    cursor: pointer; }

.todoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .todoList .todoItem {
    border: 3px solid #343E53;
    padding: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    margin: 1rem; }
    .todoList .todoItem .titleAndStatus {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 2px solid #F3C280; }
      .todoList .todoItem .titleAndStatus .title {
        text-transform: uppercase;
        font-family: "Josefin Sans";
        padding-bottom: 0.5rem;
        margin-bottom: 0px;
        position: relative; }
      .todoList .todoItem .titleAndStatus .completeBtn {
        padding-top: 5px;
        padding-bottom: 0px;
        border: none;
        outline: none;
        background-color: transparent; }
        .todoList .todoItem .titleAndStatus .completeBtn:hover {
          color: #F3C280; }
    .todoList .todoItem .description {
      font-style: italic;
      font-size: 12px; }
    .todoList .todoItem .todoBtn {
      background-color: transparent;
      margin: 2px;
      padding: 3px;
      border: none; }
      .todoList .todoItem .todoBtn .fa {
        color: white;
        font-size: 30px; }
        .todoList .todoItem .todoBtn .fa:hover {
          color: #F3C280; }
    .todoList .todoItem:hover {
      background-color: #343E53;
      color: white; }
      .todoList .todoItem:hover .hoveredContent {
        visibility: visible; }
      .todoList .todoItem:hover .completeBtn {
        color: white; }
    .todoList .todoItem .hoveredContent {
      visibility: hidden; }
    .todoList .todoItem.pending {
      border: 3px solid #D96A61; }
      .todoList .todoItem.pending:hover {
        background-color: #D96A61; }

.todoItem:hover .titleInput, .todoItem:hover .descriptionInput, .todoItem:hover .dueDateInput {
  color: white; }

.todoItem.completed .editMode .submitEdit {
  background-color: #F3C280; }
  .todoItem.completed .editMode .submitEdit:hover {
    background-color: #D96A61; }

.todoItem .editMode {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .todoItem .editMode .titleInput {
    text-transform: uppercase;
    font-family: "Josefin Sans";
    padding-bottom: 0.5rem;
    position: relative;
    border: none;
    border-bottom: 2px solid #F3C280;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    outline: none;
    margin-top: 1rem; }
    .todoItem .editMode .titleInput:focus {
      border-color: white; }
  .todoItem .editMode .descriptionInput, .todoItem .editMode .dueDateInput {
    margin-top: 1rem;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 12px;
    outline: none; }
    .todoItem .editMode .descriptionInput:focus, .todoItem .editMode .dueDateInput:focus {
      border-bottom: 1px solid white; }
  .todoItem .editMode .descriptionInput {
    font-style: italic; }
  .todoItem .editMode .dueDateInput {
    font-size: 15px; }
  .todoItem .editMode .submitEdit {
    margin: 1.5rem;
    width: 6rem;
    padding: 0.75rem;
    border-radius: 120px;
    background-color: #343E53;
    border: none;
    font-family: "Josefin Sans";
    color: white;
    font-size: 12px;
    text-transform: uppercase; }
    .todoItem .editMode .submitEdit:hover {
      background-color: #F3C280; }

.sortingButtons {
  display: flex;
  align-items: center; }
  .sortingButtons .sortingButton {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    padding: 0.75rem;
    border-radius: 120px;
    background-color: #343E53;
    border: none;
    font-family: "Josefin Sans";
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    opacity: 0.5; }
    .sortingButtons .sortingButton:hover {
      opacity: 1; }
    .sortingButtons .sortingButton.selectedMethod {
      opacity: 1; }

.todoItem .fa {
  font-size: 30px; }

.todoItem .subTaskContents .subtask {
  display: flex;
  align-items: center;
  padding: 0.25rem; }
  .todoItem .subTaskContents .subtask p {
    margin: 0px; }
  .todoItem .subTaskContents .subtask .fa {
    cursor: pointer;
    color: black;
    font-size: 20px;
    margin-right: 0.5rem;
    padding: 0px; }
    .todoItem .subTaskContents .subtask .fa:hover {
      color: #F3C280; }

.todoItem .subTaskContents .addSubtask {
  margin-top: 1rem; }
  .todoItem .subTaskContents .addSubtask .fa-plus {
    cursor: pointer;
    font-size: 20px; }
    .todoItem .subTaskContents .addSubtask .fa-plus:hover {
      color: #F3C280; }

.todoItem .subTaskContents .subtaskInput {
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  caret-color: white;
  color: white;
  font-size: 16px;
  text-align: center; }
  .todoItem .subTaskContents .subtaskInput::placeholder {
    color: white;
    opacity: 0.5; }

.todoItem:hover .subTaskContents .subtask .fa {
  color: white; }

html {
  font-family: "Nanum Gothic";
  margin: 0px;
  padding: 0px; }
  html body {
    margin: 0px;
    padding: 0px; }
